<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="history">
      <ion-icon name="time"></ion-icon>
      <ion-label>Historique</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="earnings">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Gains</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>