<ion-tabs>
  <!-- Barre de navigation en bas -->
  <ion-tab-bar slot="bottom">
    
    <!-- Tab 1: Accueil -->
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>
    
    <!-- Tab 2: Historique -->
    <ion-tab-button tab="history">
      <ion-icon name="time"></ion-icon>
      <ion-label>Historique</ion-label>
    </ion-tab-button>
    
    <!-- Tab 3: Profil -->
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>